body{
    background-color: #0d1321;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,h2{
    color: #d3dcde;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create_form input{
    width: 300px;
    padding: 10px;
    background-color: #402158;
    border: 2px solid #e2e9ff;
    outline: none;
    color: white;
    margin-bottom: 1.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
::placeholder {
    color: #f4f1ee;
}

.create_form button {
    padding: 10px;
    background-color: #e2e9ff;
    color: #2d3250;
    cursor: pointer;
    border:solid #e2e9ff ;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

}
.task_list{
    display: flex;
    align-items: center;
    width: 345px;
    justify-content: space-between;
    background-color: white;
    color: #2d3250;
    height: 35px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #5c3d2e;
    margin-bottom: .5rem;
    border-radius: 1rem;
}
.checkbox{
    display: flex;
    align-items: center;
}
.line_through{
    text-decoration:line-through;
}
.checkbox .icon{
    margin-right: 5px;
    font-size: 15px;
}
.task_list div span{
    margin: 0px 5px 0px 4px;
}
.task_list div .icon{
    cursor: pointer;
}
